html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#game {
  width: 100vw;
  height: 100vh;
}

.webgl-content {
  width: 100%;
  height: 100%;
}

#gameContainer {
  width: 100%;
  height: 100%;
}
